$base-white: #fafafa;
$main-bg-color: #192019;

$primary: #4dc91b;
$p_light: #4dee0c;
$p_lighter_less: #bfe7af;
$p_lighter: #b3e4fc;
$p_lightest: #aff095;
$p_dark: #387620;
$p_darker: #2f601c;
$p_darkest: #315c21;

$dark: #4c4000;

$secondary: #f7844f;
$s_light: #faa682;
$s_lighter: #fdc9b3;
$s_lightest: #fbe8e4;
$s_dark: #001970;

$p_text: #ecf8ff;
$p_text_dimmed: #5e8ca7;
$s_text: #ffffff;

$post_content_bg_color: #fff;
